<%= form_with(model: locale) do |form| %>
  <% if locale.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p><%= pluralize(locale.errors.count, "error") %> prohibited this locale from being saved:</p>
      <ul>
        <% locale.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="btn-toolbar mb-3" role="toolbar">
    <div class="btn-group me-auto" role="group">
      <%= link_to locale, class: %w[btn btn-light] do %>
        <i class="bi bi-arrow-left-short"></i>
        <span>Back</span>
      <% end %>
    </div>
    <div class="btn-group ms-auto" role="group">
      <%= form.submit class: %w[btn btn-primary] %>
    </div>
  </div>
  <div class="mb-3 row">
    <div class="col-sm-2">
      <%= form.label :value, class: %w[col-form-label] %>
    </div>
    <div class="col-sm-10">
      <%= form.text_field :value, class: %w[form-control] %>
    </div>
  </div>
<% end %>
